.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
}
body {
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
}
h1,
h2,
p,
a {
  user-select: none;
}
main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}
a {
  text-decoration: none;
}
.section {
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url("../img/images/portal-image.png");
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 900px;
}
.section .form {
  background-color: #FFF;
  background-image: url("../img/images/form-background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  margin-inline: 1rem;
  max-width: 700px;
  padding: 1.5rem;
  width: 100%;
}
.section .form .form__figure {
  align-items: center;
  display: flex;
  justify-content: center;
}
.section .form__image {
  border-radius: 5px;
  border: 1px solid #062931;
  max-width: 300px;
  width: 100%;
}
.section .form__container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}
.section .form__block {
  margin-bottom: 0.5rem;
  width: 100%;
}
.section .form__submit {
  width: 100%;
}
.section .form__title {
  color: #062931;
  font-size: 1.45rem;
  font-weight: 600;
  width: 100%;
}
.section .form__span-one {
  color: #3D3D3D;
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
}
.section .form__input {
  border-radius: 5px;
  border: 1px solid #3D3D3D;
  caret-color: #062931;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  padding-block: 0.25rem;
  text-align: center;
  width: 120px;
}
.section .form__input:focus {
  box-shadow: 0 0 0.5px 2px #062931;
  outline: none;
}
.section .form__input::-webkit-inner-spin-button {
  display: none;
}
.section .form__btn {
  background-color: #062931;
  border-radius: 5px;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 5px;
  padding: 0.25rem 0.5rem;
}
@media (max-width: 700px) {
  .section .form {
    grid-template-columns: 1fr;
  }
  .section .form__container {
    padding-left: 0;
    padding-top: 1rem;
  }
  .section .form__submit,
  .section .form__span-one {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .section .form__title {
    text-align: center;
  }
}
.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #FFF;
  flex-direction: column;
  flex-shrink: 0;
  padding-bottom: 1rem;
}
.footer__image {
  max-width: 200px;
  width: 100%;
}
.footer__text {
  color: #3D3D3D;
  font-size: 1rem;
  margin-block: 0.5rem;
  text-align: center;
}
.footer__link {
  color: #3D3D3D;
}
